/*--Global--*/
*{ box-sizing: border-box; }

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: #fff7f4;
}

.container {
    width: 80%;
    margin: auto;
}

#global { transition: margin-left .5s; }

#page { margin-top: 135px; }

/*--Image--*/
.image {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-family: Rockwell;
    font-size: 30px;
    font-weight: normal;
}

/*--Menu deslizante--*/
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #302c2d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 160px;
}

.side-menu a {
    padding: 10px 10px 10px 40px;
    text-decoration: none;
    font-size: 25px;
    color:#655b5e;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover { color: #f1f1f1; }

.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*--Menu deslizante--*/
@media screen and (max-height: 450px) {
    .side-menu {padding-top: 15px;}
    .side-menu a {font-size: 18px;}
}

/*--Sticky Header--*/
#stick {
        background-color: #9f2043;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        transition: 0.4s;
}

/*--Header--*/
#logo { 
    margin-left: 20px;
    margin-right: 20px;
    font-family: Rockwell;
    font-size: 30px;
    transition: 0.4s;
 }

header { overflow: hidden; }

header a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

header .search-container { float: right; }

header input[type=text] {
    padding: 6px;
    margin-top: 24px;
    font-size: 17px;
    border: 2px solid white;
    border-radius: 4px;
}

header .search-container button {
    padding: 6px 10px;
    margin-top: 24px;
    margin-bottom: 10px;
    margin-right: 16px;
    background: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

header .search-container button:hover { background: white; }

/*--Barra de Busqueda--*/
@media screen and (max-width: 600px) {
    header .search-container { float: none; }

    header a, 
    header input[type=text], 
    header .search-container button,
    {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    header input[type=text] { border: 1px solid #ccc; }
}

/*--Top Menu--*/
.menu {
    overflow: hidden;
    background-color: #9f2043;
}

.menu a {
    float: left;
    font-size: 16px;
    color: #d86283;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    transition: .3s;
}

#right-side a{
    margin-right:40px;
    padding: 14px 10px;
}

#right-side{ float:right; }

.menu a:hover{ color: white; }

.menu .icon { display: none; }

/*--Menu Responsivo--*/
@media screen and ( max-width: 1300px ) {
    .menu a:not(:first-child), #right-side a { display: none;}
    .menu a.icon{
      float: right;
      display: block;
    }
    .profileContainer {
        width: 1000px;
    }
}

@media screen and ( max-width: 1300px ) {
    .menu.responsive {position: relative;}
    .menu.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

/*--Product Gallery Table--*/
.row {
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/*--Gallería de Productos/Categorías/Miniaturas--*/
.product-card {
    max-width: 300px;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    transition: .3s;
}

.product-card a {
    display: block;
    font-size: 18px;
    text-align: center;
    color:#331b22;
    font-family: Rockwell;
    text-decoration: none;
    padding: 0 10px 0 10px; 
}

.price {
    font-weight: bold;
    color:#e72d62;
    font-family: Rockwell;
    margin: 0;
}

.product-card button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #302c2d;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: .6s;   
}

.product-card button:hover {  background-color: #e72d62; }

.product-card:hover { 
    transform: scale(1.2);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.heart-react .checked { color: #e72d62; }

/*--Producto View--*/
.productContainer {
    width: 1270px;
    border: none;    
    min-width: 300px;
    margin: 100px auto;
    background-color: white; 
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.productContainer h1 {
    font-family: Rockwell;
    font-size: 25px;
    font-weight: normal;
}

.productContainer h2 {
    font-family: Rockwell;
    font-size: 20px;
    font-weight: normal;
    color: #e72d62;
    margin: 0;
}

.productContainer h3 {
    font-family: Rockwell;
    font-size: 20px;
    font-weight: normal;
}

.productContainer h4 {
    font-family: Rockwell;
    font-size: 18px;
    font-weight: normal;
    color: #e72d62;
}

.productRow:after {
    content: "";
    display: table;
    clear: both;
}

.block-Preview {
    width: 5%;
    float: left;
    padding-top: 30px; 
}

.block-Image {
    width: 50%;
    float: left;
    text-align: left;
}

.block-Info {
    width: 40%;
    float: left;
    margin: auto;
    margin-left: 30px;
    text-align: left;  
}

.block-Info a {
    text-decoration: none;
    color:#e72d62;
}

.purchase {
    background: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border: 2px dashed #e72d62;
}

.purchase select {
    background-color: #e72d62;
    color: white;
    padding: 5px;
    width: 20%;
    height: auto;
    cursor:pointer;
    border: none;
    transition: .6s;
}

.commentSection {
    padding-top: 20px;
}

.commentContainer {
    padding: 16px;
    margin: 16px;
}

.commentContainer a {
    text-decoration: none;
    color:#e72d62;
    font-family: Rockwell;
}

.commentContainer::after {
    content: "";
    clear: both;
    display: table;
}

.commentContainer img{
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.comment {
    margin-top: 5px;
    width: 92%;
    float: left;
}

.comment-Avatar {
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
}

.smallButton {
    border: none;
    padding: 5px;
    color: white;
    background-color: #302c2d;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-family: Rockwell;
    transition: .6s;
}

.smallButton:hover {  background-color: #e72d62; }

/*--Diseño Default de Formulario--*/
.formContainer {
    border: none;    
    padding: 40px;
    min-width: 300px;
    margin: 100px auto;
    background-color: white; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.formContainer h3 { 
    font-family: Rockwell;
    color: #e72d62;
    font-weight: normal;
}

.formContainer label{
    margin-bottom: 10px;
    display: block;
}

.formRow:after {
    content: "";
    display: table;
    clear: both;
}

.formCol {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
}

.formInput{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
}

.formButton {
    border: none;
    padding: 12px;
    color: white;
    background-color: #302c2d;
    font-family: Rockwell;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    transition: .6s;
}

.formButton:hover {  background-color: #e72d62; }

@media screen and (max-width: 1000px) {
    .formCol {
      width: 100%;
      margin-top: 0;
    }
}

/*--Modal Login--*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    transition: .6s
}

.modalContainer {
    padding: 20px;
    background-color: white;
    margin: 5px auto;
    border: 6px solid white;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.loginContainer { 
    padding: 16px;
    border: 2px dashed #e72d62; 
    text-align: center;
 }

.loginContainer label {
    text-align: left;
    margin-bottom: 10px;
    display: block;
}

/*--Perfil de Usuario--*/
.profileContainer {
    border: none;    
    padding: 10px;
    min-width: 300px;
    margin: 100px auto;
    background-color: white; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.profileMenu {
    width: 25%;
    height: 1000px; 
    float: left;
    text-align: left;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
    color: white;
    background-color: #9f2043;
}

.profileMenu h2{
    text-align: center;
}

.profileMenu a {
    text-decoration: none;
    padding: 5px 0 5px 0;
    font-size: 20px;
    color:#d86283;
    display: block;
    transition: 0.3s;
}

.profileMenu a:hover { color: #f1f1f1; }

/*--Cambio de Tabs--*/
.tabProfile {
    width: 75%;
    height: 1000px;
    float: left;
    text-align: left;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
    display: none;
}

.tabProfile h1{
    padding: 10px;
    background-color:#302c2d;
    color: white;
}

.tabProfile table{
    width: 50%;
}

th, td {
    padding: 5px;
    text-align: left;
}

tr:nth-child(even) {background-color: #f5b6c8;}

/*--Util para Carrito, Historial y Borradores--*/
.previewContainer a {
    text-decoration: none;
    color:#302c2d;
    transition: .3s;
}

.previewContainer a:hover { color: #e72d62; }

.previewRow:after {
    content: "";
    display: table;
    clear: both;
}

.previewImage {
    padding: 10px;
    width: 10%;
    float: left;
    margin: auto;
    text-align: left; 
}

.previewInfo {
    padding: 10px;
    width: 70%;
    float: left;
    margin: auto;
    text-align: left; 
}

.previewPrice {
    padding: 10px;
    width: 20%;
    float: left;
    margin: auto;
    text-align: left; 
}

.previewTotal {
    padding: 10px;
    width: 20%;
    float: right;
}

.profileRow:after {
    content: "";
    display: table;
    clear: both;
}

/*--Personalización de Muro--*/

.profileAvatar {
    width: 100%;
    height: auto; 
    display: block; 
    margin-top: 40px; 
    border-radius: 50%;
    border: 5px solid white;
    
    margin-left: auto;
    margin-right: auto;
 
}

.profileFront {
    width: 100%;
    height: 400px;
    display: block;
}

/*Herramienta de Busqueda, Descripción*/
.searchGuide {
    padding: 20px;
    color: white;
    background-color: #302c2d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.searchGuide h3 {
    font-family: Rockwell;
    font-size: 20px;
    font-weight: normal;
}

